<div class="row">
  <div class="col-md-6">
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{todo.title}} : {{todo.content}}
        <i class="fa fa-trash" aria-hidden="true" (click)="deleteTodo(todo)"></i>
      </li>
    </ol>
  </div>
  <div class="col-md-6">
    Name : <input type="text" class="form-control" [(ngModel)]="todo.title">
    Content : <input type="text" class="form-control" [(ngModel)]="todo.content">
    <button
      class="btn btn-dark"
      (click)="addTodo()"
      [disabled]="!(todo.title.length && todo.content.length)"
    >Add Todo</button>
  </div>
</div>

<app-first></app-first>
<hr>
